@media print, (max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 100%;
    }


    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction
    {
        bottom: 20px;

        padding: 0 40px;
    }

    .swiper-pagination-bullet
    {
        width: 32px;
    }


    .content_flex .content
    {
        width: 100%;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item
    {
        border-radius: 20px 0;
    }

    .accordion_item + .accordion_item
    {
        margin-top: 20px;
    }


    .accordion_item .head
    {
        padding: 15px 75px 15px 23px;
    }

    .accordion_item .head .title
    {
        font-size: 16px;
        line-height: 20px;
    }

    .accordion_item .head .icon
    {
        right: 15px;

        width: 40px;
        height: 32px;

        border-radius: 8px 0;
    }


    .accordion_item .data
    {
        font-size: 14px;

        padding: 4px 23px 23px 23px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;

        width: 310px;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;

        transition: transform .3s linear;
        transform: translateX(-100%);

        background: #fff;
    }

    header.show
    {
        transform: translateX(0);
    }


    header .mob_scroll
    {
        display: flex;
        overflow: auto;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 0;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        overscroll-behavior-y: contain;
    }

    header .mob_scroll > *
    {
        width: 100%;
    }


    header .top
    {
        padding: 20px 0;

        border: none;
        border-top: 1px solid rgba(0,0,0,.1);

        order: 3;
    }


    header .info
    {
        padding: 20px 0;

        border-top: 1px solid rgba(0,0,0,.1);

        order: 2;
    }

    header .info:before
    {
        display: none;
    }


    header .bottom
    {
        background: linear-gradient(0deg, #151616, #151616);
    }

    header .bottom .cont
    {
        padding: 0;
    }


    header .slogan,
    header .search,
    header .email,
    header .logo,
    header .cart
    {
        display: none;
    }


    header .messengers
    {
        width: 100%;
        margin: 0;
    }


    header .contacts
    {
        width: 100%;
        margin: 0;
    }

    header .contacts + .contacts
    {
        margin-top: 20px;
    }


    header .menu
    {
        display: block;

        padding: 8px 0;

        border-radius: 0;
        background: none;
    }

    header .menu .item
    {
        display: block;
    }

    header .menu .item + .item:before,
    header .menu .item:hover:before,
    header .menu .item:hover + .item:before
    {
        bottom: auto;

        width: 100%;
        height: 1px;
    }

    header .menu .item > a
    {
        font-size: 16px;
        line-height: 20px;

        min-height: 48px;
        padding: 8px 20px;

        text-align: left;

        justify-content: flex-start;
    }


    header .menu .item .sub_menu,
    header .menu .item:hover .sub_menu
    {
        position: relative;
        z-index: 1;
        top: 0;

        display: none;
        visibility: hidden;

        padding: 0;

        pointer-events: auto;

        opacity: 1;
    }


    header .menu .item > a.touch_link + .sub_menu.show
    {
        display: block;
        visibility: visible;
    }

    header .menu .sub_menu a
    {
        padding: 12px 20px 12px 32px;

        text-align: left;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        margin-bottom: 24px;
    }

    aside.mob_hide
    {
        display: none;
    }

    aside > * + *
    {
        margin-top: 0;
    }


    aside .links,
    aside .banner
    {
        display: none;
    }


    aside .mob_filter_btn
    {
        display: block;
    }


    aside .filter form
    {
        display: none;

        margin-top: 20px;
        padding-bottom: 20px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-top: 0;
        padding-top: 0;
    }

    .page_head:before
    {
        display: none;
    }


    .breadcrumbs .sep
    {
        margin: 0 6px;
    }


    .page_title
    {
        font-size: 30px;

        margin-top: 24px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 20px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .input
    {
        height: 44px;
    }


    .form textarea
    {
        padding-top: 12px;
        padding-bottom: 12px;
    }


    .form .file label
    {
        line-height: 16px;

        padding: 8px 16px;

        border-radius: 12px 0;
    }


    .form .submit_btn
    {
        padding: 13px 24px;

        border-radius: 16px 0;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h1
    {
        font-size: 28px;

        margin-bottom: 24px;
    }

    .text_block h2
    {
        font-size: 24px;
    }

    .text_block h3
    {
        font-size: 20px;

        margin-bottom: 16px;
    }


    .text_block * + h2,
    .text_block * + h3
    {
        margin-top: 52px;
    }


    .text_block .block_with_image img
    {
        width: auto;
    }

    .text_block .block_with_image div
    {
        width: 100%;
        margin-top: 24px;
    }


    .text_block .cols
    {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .text_block .cols .col
    {
        width: 100%;
    }

    .text_block .cols .col + .col
    {
        margin-top: 40px;
    }


    .text_block ol li + li,
    .text_block ul li + li
    {
        margin-top: 12px;
    }


    .text_block .bg
    {
        padding: 27px;

        border-radius: 20px 0;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider
    {
        margin-bottom: 60px;
    }



    /*-----------------
        Order block
    -----------------*/
    .order_block
    {
        margin-bottom: 60px;
    }


    .order_block .data
    {
        padding: 40px 32px;
    }


    .order_block .block_title
    {
        font-size: 24px;

        margin-bottom: 20px;
    }


    .order_block .form .bottom
    {
        margin-top: 20px;
    }

    .order_block .form .agree
    {
        margin-left: 20px;
    }

    .order_block .form .agree br
    {
        display: none;
    }



    /*-------------------
        Message block
    -------------------*/
    .message_block
    {
        margin-bottom: 60px;
    }



    /*--------
       FAQ
    --------*/
    .faq .block_title
    {
        font-size: 24px;

        margin-bottom: 20px;
    }



    /*--------------
       Subscribe
    --------------*/
    .subscribe .data
    {
        padding: 16px;

        border-radius: 0 20px;
    }


    .subscribe .title
    {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }


    .subscribe form
    {
        margin-right: auto;
        margin-left: auto;
    }

    .subscribe form .input,
    .subscribe form .submit_btn
    {
        height: 44px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info
    {
        padding-top: 8px;
    }


    .product_info .images
    {
        width: 100%;
        margin-bottom: 28px;
    }


    .product_info .images .big .swiper-container
    {
        padding-bottom: 36px;
    }

    .product_info .images .big .slide a
    {
        height: 320px;
    }

    .product_info .images .big .swiper-pagination
    {
        display: flex;
    }


    .product_info .images .thumbs
    {
        display: none;
    }


    .product_info .data
    {
        width: 100%;
    }


    .product_info .product_name
    {
        font-size: 28px;
    }


    .product_info .buy
    {
        margin-top: 32px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .data
    {
        padding: 40px 32px;
    }


    .action_block .title
    {
        font-size: 24px;
    }


    .action_block .desc
    {
        line-height: 17px;

        margin-top: 8px;
    }

    .action_block .desc br
    {
        display: none;
    }


    .action_block .contacts
    {
        font-size: 17px;
        line-height: 21px;

        padding-top: 24px;
    }

    .action_block .contacts .phone a
    {
        font-size: 17px;
        line-height: 21px;
    }


    .action_block .form
    {
        width: 100%;
        margin-top: 32px;
    }



    .content .action_block .info
    {
        width: 252px;
    }

    .content .action_block .form
    {
        width: 368px;
        margin-top: 0;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .product
    {
        position: relative;

        padding: 19px 19px 19px 183px;

        flex-wrap: wrap;
    }


    .cart_info .product .thumb
    {
        position: absolute;
        top: 19px;
        left: 19px;

        width: 140px;
        min-width: 0;
        height: 140px;
        margin-right: 0;
    }


    .cart_info .product .info
    {
        width: 100%;
        margin-bottom: 16px;
    }


    .cart_info .product .product_name
    {
        width: calc(100% - 72px);
    }


    .cart_info .product .price
    {
        margin-left: 0;
    }


    .cart_info .product .delete_btn
    {
        position: absolute;
        top: 19px;
        right: 19px;

        width: 40px;
        min-width: 0;
        height: 36px;
        margin: 0;
    }

    .cart_info .product .delete_btn .icon
    {
        width: 20px;
        height: 20px;
    }


    .cart_info .bottom
    {
        margin-top: 16px;
    }


    .cart_info .bottom .features
    {
        margin-top: 12px;
    }


    .cart_info .bottom .total_price
    {
        font-size: 16px;
        line-height: 22px;

        margin-top: 12px;
    }

    .cart_info .bottom .total_price .price
    {
        font-size: 19px;
        line-height: 23px;

        margin-left: 32px;
    }


    .cart_info .bottom .checkout_link
    {
        margin-top: 12px;
        margin-left: 32px;
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info .content
    {
        padding-top: 0;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info
    {
        --sidebar_width: 100%;
    }


    .checkout_info aside
    {
        margin-top: 40px;
        margin-bottom: 0;
    }


    .checkout_info .content
    {
        width: 100%;
    }


    .checkout_info .step
    {
        padding: 20px 24px;
    }


    .checkout_info .step .title
    {
        font-size: 16px;
        line-height: 22px;

        width: calc(100% - 172px);
    }


    .checkout_info .step .edit_btn
    {
        right: 76px;
    }


    .checkout_info .step .arrow
    {
        right: 24px;
    }



    /*-------------------
        Cart informer
    -------------------*/
    .cart_informer
    {
        padding: 20px 24px;
    }


    .cart_informer .items
    {
        display: flex;

        margin-bottom: -20px;
        margin-left: -20px;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .cart_informer .items > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .cart_informer .item + .item
    {
        margin-top: 0;
    }


    .cart_informer .total_price
    {
        margin-top: 28px;
    }

    .cart_informer .total_price .name
    {
        font-size: 17px;
        line-height: 21px;
    }

    .cart_informer .total_price .price
    {
        font-size: 19px;
        line-height: 23px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 52px 0 36px;
    }


    footer .copyright,
    footer .links
    {
        margin-top: 32px;
    }


    footer .menu,
    footer .catalog_links
    {
        display: none;
    }


    footer .phones
    {
        font-size: 16px;
        line-height: 22px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal_title
    {
        font-size: 28px;
    }


    .modal .form
    {
        margin-top: 24px;
    }
}
